:root {
  /* Light mode colors */
  --main-text-color: #0f0f0f;
  --brand-color: #2fa16e;
  --custom-background-image: url("/background.jpg");

  --custom-background-color: #1c1f2c;
  --bg-navbar-color-plate-1: #d6ccc2;
  --bg-navbar-color-plate-2: #edede9;
  --bg-page-header-color-plate-1: #d6ccc2;
  --bg-page-header-color-plate-2: #edede9;
  --bg-content-box-plate-1: #e3d5cae6;
  --bg-content-box-plate-2: #f5ebe0e6;
  --bg-inside-box: #d5bdafe6;
  --bg-input:#bbada4;

}

.dark {
  --main-text-color: #ffffff;
  /* navbar */
  --bg-navbar-color-plate-1: #1A3636;
  --bg-navbar-color-plate-2: #1A3636;
  --bg-page-header-color-plate-1: #1A3636;
  --bg-page-header-color-plate-2: #1A3636;
  --bg-content-box-plate-1: #295353e6;
  --bg-content-box-plate-2: #295353e6;
  --bg-inside-box: #1b4738e6;
  --bg-input:#142b2b;
}

/* dark plates  */
/* 
1: #002029
2: #00303D
3: #004052
4: #005066
5: #00607A
 */

/* light plates */
/* 
1: #edede9
2: #d6ccc2
3: #f5ebe0
4: #e3d5ca
5: #d5bdaf
 */
