@import "tailwindcss";
@import "./variables.css";

@theme {
  /* main box background colors */
  --color-main-box-background: var(--bg-main-color);
  --color-secondary-box-background: var(--bg-secondary-color);
  --color-brand-color: var(--brand-color);
  --color-main-text-color: var(--text-main-color);
}

body {
  color: var(--main-text-color);
  font-weight: 300;
}
