:root {
  --main-text-color: #ffffff;
  --brand-color: #AB052A;
  --bg-main-color: #4c566a;
  --bg-secondary-color: #2e3440;
  --custom-background-image: url("/background.png");
  --custom-background-color: #000000;
}
